# Dependencies
node_modules/
/.pnp
.pnp.js

# Production
/build
/dist

# Testing
/coverage

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - JetBrains
.idea/
*.iml
*.iws
*.ipr

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Lock files
package-lock.json
yarn.lock

# Cache
.cache/
.temp/
.eslintcache

# Docker
*.dockerfile
docker-compose.override.yml

# System Files
Thumbs.db